.body{
    height:auto;
}

mat-card{
    height:auto;
    line-height: 2em;
}

@media only screen and(max-device-width:430px){
    mat-card{
        width:130%;
    }
}

@media only screen and(max-device-width:450px){
    table{
        width:105%;
    }
    mat-card{
        width:130%;
    }
   
}