<div class = "body">
    <div>
      <button class = "add-button" mat-icon-button matTooltip = "Add Product"  (click) = "addNewProduct()"><img src = "../../assets/icons/add.png"/></button>
    </div>
  <mat-form-field class = "filterField">
    <input  matInput (keyup)= "filterProducts($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  
  <div>
  <mat-paginator [length]= "dataLength"
                [pageSize]="pageSize"
                [pageSizeOptions]="[2, 3, 5, 10, 25, 100]"
                (page) = "pageEvent = $event" (page) = "paginateValues(pageEvent.pageSize,pageEvent.pageIndex)">
  </mat-paginator >
  </div>
  </div>
  